* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top:10px ;

}

header{
    height: 99.9vh;
    background: url('../img/bala0-6.png');
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 15px;
    font-family: 'Poppins' , sans-serif;
    font-weight: 800px;
}

.logo{
    display: inline-block;
    padding-left: 13px;
}

.register{
    padding-top: 10px;
    padding-right: 13px;
}

